body{

font-family: Arial;
background:#111;
color:white;
padding:40px;

}

h1{

color:#d4af37;

}

table{

width:100%;
border-collapse: collapse;
margin-top:20px;

}

th{

background:#d4af37;
color:black;
padding:10px;

}

td{

border:1px solid #333;
padding:10px;
text-align:center;

}

tr:nth-child(even){

background:#222;

}

a{

color:#2ecc71;
font-weight:bold;

}
button{

background:#d4af37;
color:black;
padding:10px;
border:none;
font-weight:bold;
cursor:pointer;

}

button:hover{

background:#c9a227;

}