<html>

<head>
<title>ACEest Fitness</title>
</head>

<body>

<h1>ACEest Functional Fitness System</h1>

<form method="POST">

<h3>Client Profile</h3>

Name
<input type="text" name="name" required>

<br><br>

Age
<input type="number" name="age" required>

<br><br>

Weight (kg)
<input type="number" step="0.1" name="weight" required>

<br><br>

Program
<select name="program">

{% for p in programs %}
<option value="{{p}}">{{p}}</option>
{% endfor %}

</select>

<br><br>

<button type="submit">Generate Plan</button>

</form>

{% if result %}

<h2>Client Saved Successfully</h2>
<p>Data stored in database.</p>
<hr>

<h2>Client Summary</h2>

Name : {{result.name}} <br>
Age : {{result.age}} <br>
Weight : {{result.weight}} kg <br>
Program : {{result.program}} <br>

<h3>Estimated Calories</h3>

{{result.calories}} kcal/day

<h3>Workout Plan</h3>

<pre>{{result.workout}}</pre>

<h3>Nutrition Plan</h3>

<pre>{{result.diet}}</pre>

{% endif %}

</body>
</html>